
.time-wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time{
  font-size: 90px;
  font-family: 'Black Ops One', cursive;
  font-weight: 200;
  color: rgb(204, 204, 204);
  display: flex;
  align-items: center;
}
.time p{
  padding: 15px;
}